<p><label class="comment_block_title">{{ app.user }}</label></p>
{{ form_start(form) }}
{{ form_row(form.text) }}
{#<button type="submit">{{ 'message.telega'| trans }}</button>#}
{{ form_end(form) }}

